# Complete Caddyfile for neo-vpn.com stack

https://neo-vpn.com {
	reverse_proxy neovpn-web:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}

https://www.neo-vpn.com {
	redir https://neo-vpn.com{uri}
}

https://panel.neo-vpn.com {
	reverse_proxy remnawave:3000 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

https://sub.neo-vpn.com {
	reverse_proxy remnawave-subscription-page:3010 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
	}
}

:443 {
	tls internal
	respond 204
}
